<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pewpew">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/Theme.PewPew">
        <activity
            android:name=".view.ForgetPasswordActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name="com.example.firebaseauthantication.LoginActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name="com.example.firebaseauthantication.RegisterActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".view.MainActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".view.Splash"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>